{% extends 'base.html.twig' %}

{% block body %}
    <h1>ClientlyUsers</h1>

    <table>
        <tbody>
            <tr>
                <th>Userid</th>
                <td>{{ clientlyUser.userId }}</td>
            </tr>
            <tr>
                <th>Userusername</th>
                <td>{{ clientlyUser.userUsername }}</td>
            </tr>
            <tr>
                <th>Userpassword</th>
                <td>{{ clientlyUser.userPassword }}</td>
            </tr>
            <tr>
                <th>Useremail</th>
                <td>{{ clientlyUser.userEmail }}</td>
            </tr>
            <tr>
                <th>Usertype</th>
                <td>{% if clientlyUser.userType %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Isactive</th>
                <td>{% if clientlyUser.isActive %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Isdelete</th>
                <td>{% if clientlyUser.isDelete %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Createddate</th>
                <td>{% if clientlyUser.createdDate %}{{ clientlyUser.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modifieddate</th>
                <td>{% if clientlyUser.modifiedDate %}{{ clientlyUser.modifiedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('clientlyusers_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('clientlyusers_edit', { 'id': clientlyUser.userId }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
