{% extends 'base.html.twig' %}

{% block body %}
    <h1>Source</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ source.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ source.type }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ source.code }}</td>
            </tr>
            <tr>
                <th>Extra</th>
                <td>{{ source.extra }}</td>
            </tr>
            <tr>
                <th>Isenabled</th>
                <td>{{ source.isEnabled }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ source.createdAt }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ source.updatedAt }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('source_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('source_edit', { 'id': source.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
