{% extends 'base.html.twig' %}

{% block body %}
    <h1>Account</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ account.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ account.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ account.type }}</td>
            </tr>
            <tr>
                <th>Planid</th>
                <td>{{ account.planId }}</td>
            </tr>
            <tr>
                <th>Nextplanid</th>
                <td>{{ account.nextPlanId }}</td>
            </tr>
            <tr>
                <th>Membercount</th>
                <td>{{ account.memberCount }}</td>
            </tr>
            <tr>
                <th>Creditbalance</th>
                <td>{{ account.creditBalance }}</td>
            </tr>
            <tr>
                <th>Accepteddealcount</th>
                <td>{{ account.acceptedDealCount }}</td>
            </tr>
            <tr>
                <th>Workspacecount</th>
                <td>{{ account.workspaceCount }}</td>
            </tr>
            <tr>
                <th>Pipelinecount</th>
                <td>{{ account.pipelineCount }}</td>
            </tr>
            <tr>
                <th>Workflowcount</th>
                <td>{{ account.workflowCount }}</td>
            </tr>
            <tr>
                <th>Sourcecount</th>
                <td>{{ account.sourceCount }}</td>
            </tr>
            <tr>
                <th>Enabledmembercount</th>
                <td>{{ account.enabledMemberCount }}</td>
            </tr>
            <tr>
                <th>Enabledworkspacecount</th>
                <td>{{ account.enabledWorkspaceCount }}</td>
            </tr>
            <tr>
                <th>Enabledpipelinecount</th>
                <td>{{ account.enabledPipelineCount }}</td>
            </tr>
            <tr>
                <th>Enabledworkflowcount</th>
                <td>{{ account.enabledWorkflowCount }}</td>
            </tr>
            <tr>
                <th>Enabledsourcecount</th>
                <td>{{ account.enabledSourceCount }}</td>
            </tr>
            <tr>
                <th>Dailyleadsscanned</th>
                <td>{{ account.dailyLeadsScanned }}</td>
            </tr>
            <tr>
                <th>Planstartedat</th>
                <td>{{ account.planStartedAt }}</td>
            </tr>
            <tr>
                <th>Ownerid</th>
                <td>{{ account.ownerId }}</td>
            </tr>
            <tr>
                <th>Isenabled</th>
                <td>{{ account.isEnabled }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ account.createdAt }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ account.updatedAt }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('account_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('account_edit', { 'id': account.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
