{% extends 'base.html.twig' %}

{% block body %}
    <h1>ClientlySize</h1>

    <table>
        <tbody>
            <tr>
                <th>Sizeid</th>
                <td>{{ clientlySize.sizeId }}</td>
            </tr>
            <tr>
                <th>Sizename</th>
                <td>{{ clientlySize.sizeName }}</td>
            </tr>
            <tr>
                <th>Isactive</th>
                <td>{% if clientlySize.isActive %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Isdelete</th>
                <td>{% if clientlySize.isDelete %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Createddate</th>
                <td>{% if clientlySize.createdDate %}{{ clientlySize.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modifieddate</th>
                <td>{% if clientlySize.modifiedDate %}{{ clientlySize.modifiedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('clientlysize_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('clientlysize_edit', { 'id': clientlySize.sizeId }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
